.message-box {
  border: 1px solid black;
  padding: 5px;
  width: 500px;
}

.connect-button,
.send-button {
  float: right;
}

.disconnect-button {
  float: left;
}

.control-box {
  padding: 5px;
  width: 450px;
  height: 28px;
}
